<section class="unique-experience">
  <div class="experience-content">
    <h2>Una experiencia única</h2>
    <p>
      En nuestro restaurante, ofrecemos una experiencia culinaria única con los mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un ambiente acogedor mientras saboreas nuestras especialidades.
    </p>
  </div>
  <div class="experience-image">
    <img src="/images/unique-experience-img.png" alt="Experiencia culinaria única." />
  </div>
</section>
