<section class="popular-recipes" id="menu">
  <div class="recipes-header">
    <h2>Recetas Peruanas Populares</h2>
    <a href="#" class="explore-link">Explora Todos los Platos &rarr;</a>
  </div>
  <div class="recipes-grid">
    <div class="recipe-card">
      <div class="recipe-image">
        <img ngSrc="/images/popular-recipes/card1-img.webp" alt="Postres Peruanos" height="576" width="384"/>
        <h3 class="recipe-title">Postres Peruanos</h3>
      </div>
    </div>
    <div class="recipe-card">
      <div class="recipe-image">
        <img ngSrc="/images/popular-recipes/card2-img.webp" alt="Causa Rellena" height="576" width="384"/>
        <h3 class="recipe-title">Causa Rellena</h3>
      </div>
    </div>
    <div class="recipe-card">
      <div class="recipe-image">
        <img ngSrc="/images/popular-recipes/card3-img.webp" alt="Ají de Gallina" height="576" width="384"/>
        <h3 class="recipe-title">Lomo Saltado</h3>
      </div>
    </div>
    <div class="recipe-card">
      <div class="recipe-image">
        <img ngSrc="/images/popular-recipes/card4-img.webp" alt="Pisco Sour" height="576" width="384"/>
        <h3 class="recipe-title">Pisco Sour</h3>
      </div>
    </div>
    <div class="recipe-card">
      <div class="recipe-image">
        <img ngSrc="/images/popular-recipes/card5-img.webp" alt="Ceviche" height="576" width="384"/>
        <h3 class="recipe-title">Ceviche</h3>
      </div>
    </div>
  </div>
</section>
