header{
  background-color: #001405;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.title{
  font-size: 2rem;
  font-weight: bold;
}

.btn-contact{
  background-color: #D4A206;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
}
