.reservation-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../../assets/backgrounds/bg-reservation-section.svg') no-repeat center center/cover;
  width: 100%;
  padding: 2rem 5rem;
  min-height: 80vh;
  color: white;
}

.reservation-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 45%;
}

.reservation-content h1{
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.reservation-content p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.btn-primary {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  background-color: transparent;
  color: #e6a700;
  border: #e6a700 solid 2px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  transition: background 0.3s;
  width: fit-content;
}

.btn-primary:hover {
  background-color: #e6a700;
  color: white;
}

.reservation-image img {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .reservation-section {
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  .reservation-content {
    align-items: center;
    max-width: 90%;
  }

  .reservation-content h1 {
    font-size: 2.5rem;
  }

  .reservation-content p {
    font-size: 1rem;
  }

  .reservation-image {
    margin-top: 2rem;
  }

  .btn-primary {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .reservation-content h1 {
    font-size: 2rem;
  }

  .reservation-section{
    padding: 25px;
  }

  .reservation-content p {
    font-size: 0.9rem;
  }

  .btn-primary {
    padding: 0.7rem 1.2rem;
  }
}
