<section class="how-it-works">
  <h2>¿Cómo funciona? Elige tu plato favorito.</h2>
  <div class="card-container">
    <div class="card">
      <img src="/images/how-it-works/img-card1-howitworks.png" alt="Platos peruanos" />
      <p>
        Ofrecemos platos que combinan tradición y modernidad, diseñados para
        deleitar tu paladar.
      </p>
    </div>
    <div class="card">
      <img src="/images/how-it-works/img-card2-howitworks.png" alt="Ambiente acogedor" />
      <p>
        Disfruta de un ambiente acogedor mientras degustas nuestros sabrosos
        platos.
      </p>
    </div>
    <div class="card">
      <img src="/images/how-it-works/img-card3-howitworks.png" alt="Cocina peruana" />
      <p>
        La excelencia de la cocina peruana se refleja en nuestros platos.
      </p>
    </div>
  </div>
</section>
