<section class="how-it-works">
  <h2>¿Cómo funciona? Elige tu plato favorito.</h2>
  <div class="card-container">
    <div class="card">
      <img ngSrc="/images/how-it-works/img-card1-howitworks.webp" alt="Platos peruanos" height="512" width="512"/>
      <p>
        Ofrecemos platos que combinan tradición y modernidad, diseñados para
        deleitar tu paladar.
      </p>
    </div>
    <div class="card">
      <img ngSrc="/images/how-it-works/img-card2-howitworks.webp" alt="Ambiente acogedor" height="512" width="512"/>
      <p>
        Disfruta de un ambiente acogedor mientras degustas nuestros sabrosos
        platos.
      </p>
    </div>
    <div class="card">
      <img ngSrc="/images/how-it-works/img-card3-howitworks.webp" alt="Cocina peruana" height="512" width="512"/>
      <p>
        La excelencia de la cocina peruana se refleja en nuestros platos.
      </p>
    </div>
  </div>
</section>
