<footer class="footer" id="contacto">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Dilvant</h3>
    </div>
    <div class="footer-section">
      <h4>Platos Estrella</h4>
      <ul>
        <li>Ceviche</li>
        <li>Lomo Saltado</li>
        <li>Causa Rellena</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contacto</h4>
      <ul>
        <li>+51 909 909 909</li>
        <li><a href="mailto:dilvant.restaurante@gmail.com">dilvant.restaurante&#64;gmail.com</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Encuéntranos</h4>
      <p>Av. Dirección 1</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Plantilla hecha por Dilvant - 2024</p>
  </div>
</footer>
